In [3]:
import pandas as pd
import numpy as np

In [4]:
ser = pd.Series(np.random.rand())

In [5]:
type(ser)

pandas.core.series.Series

In [6]:
newdf = pd.DataFrame(np.random.rand(334, 5))

In [7]:
newdf.head(10)

          0         1         2         3         4
0  0.517700  0.038048  0.274334  0.748666  0.142381
1  0.745986  0.032895  0.887523  0.645878  0.029701
2  0.462320  0.673225  0.351907  0.895757  0.953901
3  0.246990  0.839575  0.843787  0.644520  0.173750
4  0.052439  0.074805  0.484360  0.074845  0.559592
5  0.001378  0.267233  0.887201  0.951590  0.989576
6  0.506785  0.447785  0.467213  0.552032  0.835192
7  0.372379  0.954548  0.994930  0.875368  0.536028
8  0.597485  0.821887  0.573271  0.382659  0.537972
9  0.589287  0.755721  0.613322  0.156485  0.098867

In [8]:
newdf.describe()

                0           1           2           3           4
count  334.000000  334.000000  334.000000  334.000000  334.000000
mean     0.488182    0.506279    0.518308    0.521902    0.498827
std      0.283507    0.289192    0.287479    0.291577    0.297846
min      0.001378    0.000634    0.007015    0.002608    0.001247
25%      0.223894    0.261124    0.284392    0.266090    0.231039
50%      0.515361    0.509738    0.538934    0.546891    0.511827
75%      0.728454    0.763197    0.769729    0.761944    0.752670
max      0.997555    0.998846    0.999260    0.999666    0.995335

In [9]:
newdf[0][1] = "Kausthubh"

In [10]:
newdf.head(3)

           0         1         2         3         4
0     0.5177  0.038048  0.274334  0.748666  0.142381
1  Kausthubh  0.032895  0.887523  0.645878  0.029701
2    0.46232  0.673225  0.351907  0.895757  0.953901

In [17]:
array = newdf.to_numpy()

In [18]:
array

array([[0.5176996870683543, 0.038047907775346834, 0.27433442371828853,
        0.7486661337190199, 0.14238058544337695],
       ['Kausthubh', 0.032894814114934334, 0.8875226351590099,
        0.6458777047364298, 0.02970149054712745],
       [0.46231965107477, 0.673225233571097, 0.3519070482031398,
        0.8957571400747171, 0.9539005564665817],
       ...,
       [0.2928720215693502, 0.4940748884063364, 0.8296024021560653,
        0.981287044562956, 0.7989658586692672],
       [0.07541926264966903, 0.38166516913741166, 0.7001114679040359,
        0.2975736198532998, 0.7583881244728425],
       [0.8875308579203368, 0.3712418762774431, 0.3391194496106188,
        0.6081930681363514, 0.731061076206028]], dtype=object)

In [19]:
print(array)

[[0.5176996870683543 0.038047907775346834 0.27433442371828853
  0.7486661337190199 0.14238058544337695]
 ['Kausthubh' 0.032894814114934334 0.8875226351590099 0.6458777047364298
  0.02970149054712745]
 [0.46231965107477 0.673225233571097 0.3519070482031398
  0.8957571400747171 0.9539005564665817]
 ...
 [0.2928720215693502 0.4940748884063364 0.8296024021560653
  0.981287044562956 0.7989658586692672]
 [0.07541926264966903 0.38166516913741166 0.7001114679040359
  0.2975736198532998 0.7583881244728425]
 [0.8875308579203368 0.3712418762774431 0.3391194496106188
  0.6081930681363514 0.731061076206028]]

In [20]:
newdf.T  #Transposes the data

,0,1,2,3,4,5,6,7,8,9,...,324,325,326,327,328,329,330,331,332,333
0,0.5177,Kausthubh,0.46232,0.24699,0.052439,0.001378,0.506785,0.372379,0.597485,0.589287,...,0.519133,0.188589,0.850162,0.544448,0.605486,0.524009,0.31971,0.292872,0.075419,0.887531
1,0.038048,0.032895,0.673225,0.839575,0.074805,0.267233,0.447785,0.954548,0.821887,0.755721,...,0.154297,0.712261,0.64293,0.513441,0.637516,0.952845,0.522176,0.494075,0.381665,0.371242
2,0.274334,0.887523,0.351907,0.843787,0.48436,0.887201,0.467213,0.99493,0.573271,0.613322,...,0.285236,0.503474,0.11342,0.370012,0.313566,0.921383,0.945718,0.829602,0.700111,0.339119
3,0.748666,0.645878,0.895757,0.64452,0.074845,0.95159,0.552032,0.875368,0.382659,0.156485,...,0.252603,0.056871,0.638088,0.620027,0.195056,0.38042,0.794916,0.981287,0.297574,0.608193
4,0.142381,0.029701,0.953901,0.17375,0.559592,0.989576,0.835192,0.536028,0.537972,0.098867,...,0.749362,0.460511,0.224911,0.577623,0.485036,0.324395,0.808421,0.798966,0.758388,0.731061

In [21]:
newdf2 = newdf    #This is like aliasing.This just creates a new view.